 /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.black{
		padding: 50px 150px;
	}
	.each-block{
		padding-left: 50px;
	}
	.white{
		padding: 50px 150px;
	}
	.each-block .submit{
		margin-right: 3rem;
	}






}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.ank{
		width: 70%;
	}
	.block{
		width: 90%;
	}
	.white{
		padding: 50px;
	}
	.sec-cont{
		padding: 0 50px;
	}
	.block-3{
		width: 100%;
		margin-bottom: 3rem;
	}
	.sec-cont{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.black{
		padding: 50px;
	}
	.each-block{
		padding: 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.white{
		padding: 25px;
	}
	.header{
		padding: 50px;
	}
	input, textarea{
		width: 100%;
	}
	.each-block{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.block-3{
		margin-right: 0;
	}
	.each-block .submit{
		width: 100%;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.block{
		padding: 20px;
	}
	.white{
		padding: 20px;
	}
	.header{
		padding: 20px;
	}
	.heading{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.header .container{
		width: 100%;
	}
	.heading p{
		font-size: 38px;
	}
	.gray-sec{
		padding: 50px 0;
	}
	.sec-cont{
		padding: 0 20px;
	}
	.ank{
		width: 100%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	












}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 576px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
}